#modal {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    z-index: 9;

    &.in .modal-inner {
        top: 100px;
    }

    .close {
        position: absolute;
        top: 25px;
        right: 25px;
        width: 40px;
        height: 40px;
        background-color: transparent;
        border: none;
        img {
            width: 30px;
        }    
    }

    .modal-inner {
        width: 1206px; //1720px
        height: 618px; //930px
        left: 75px;
        top: 0;
        position: absolute;
        transition: 0.5s all;
    }
    .modal-video-container {
        position: absolute;
        left: 0;
        top: 0;
        width: 60%;
        background: gray;
        bottom: 50px;
    }
    .modal-content {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 50px;
        width: 40%;
        background: white;

        .modal-content-inner {
            padding: 0px 50px 50px;
            position: absolute;
            top: 0;
            bottom: 100px;
            overflow: hidden;
            overflow-y: auto;
        }
        .modal-food-chain {
            bottom: 0;
            width: 100%;
            height: 100px;
            position: absolute;
        }
    }
    .modal-pagination {
        width: 1206px; //1720px
        height: 50px;
        bottom: 0;
        position: absolute;
        color: white;

        .next {
            float: right;
            padding: 20px 0;
            display: block;
            &:after {
                content: url('/assets/images/icon-next.svg');
                padding-left: 6px;
            }
        }
        .prev {
            float: left;
            padding: 20px 0;
            display: block;
            &:before {
                content: url('/assets/images/icon-prev.svg');
                padding-right: 6px;
            }
        }
    }
}
.modal-food-chain {
    display: flex;
    box-shadow: 0px -4px 27px 0px rgba(116, 102, 102, 0.71);

    > div {
        width: 14.28%;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .active {
        &:after {
            content: '';
            border-bottom: 1px solid #ffffff;
            position: absolute;
            height: 2px;
            background: transparent;
            width: 69px;
            bottom: 20px;
        }
    }

    .eats {
        &:after {
            content: 'I eat';
            color: #ffffff;
        }
    }

    .eatenby {
        &:after {
            content: 'Eats me';
            color: #ffffff;
        }
    }

    .modal-food-chain-1 {
        background-color: #869C5E;
        background-image: url(/assets/images/foodchain_1.svg);
    }
    .modal-food-chain-2 {
        background-color: #9AA45A;
        background-image: url(/assets/images/foodchain_2.svg);
    }
    .modal-food-chain-3 {
        background-color: #ADA553;
        background-image: url(/assets/images/foodchain_3.svg);
    }
    .modal-food-chain-4 {
        background-color: #C3A64C;
        background-image: url(/assets/images/foodchain_4.svg);
    }
    .modal-food-chain-5 {
        background-color: #D4A645;
        background-image: url(/assets/images/foodchain_5.svg);
    }
    .modal-food-chain-6 {
        background-color: #E6A63B;
        background-image: url(/assets/images/foodchain_6.svg);
    }
    .modal-food-chain-7 {
        background-color: #FAA633;
        background-image: url(/assets/images/foodchain_7.svg);
    }
}
