@font-face {font-family: "TradeGothic LT CondEighteen";
    src: url("http://db.onlinewebfonts.com/t/e72e8eda063ac8bb688e72544c5bca28.eot");
    src: url("http://db.onlinewebfonts.com/t/e72e8eda063ac8bb688e72544c5bca28.eot?#iefix") format("embedded-opentype"),
    url("http://db.onlinewebfonts.com/t/e72e8eda063ac8bb688e72544c5bca28.woff2") format("woff2"),
    url("http://db.onlinewebfonts.com/t/e72e8eda063ac8bb688e72544c5bca28.woff") format("woff"),
    url("http://db.onlinewebfonts.com/t/e72e8eda063ac8bb688e72544c5bca28.ttf") format("truetype"),
    url("http://db.onlinewebfonts.com/t/e72e8eda063ac8bb688e72544c5bca28.svg#TradeGothic LT CondEighteen") format("svg");
}

* {
    font-family: 'TradeGothic LT CondEighteen';
}
h1 {
    font-size: 46px;
    line-height: 1.6;

    small {
        color: #939598;
        font-size: 22px;
        display: block;
    }
}

h2 {
    margin-bottom: 0px;
}


p {
    font-family: 'Adobe Garamond Pro';
    font-size: 21px;
    line-height: 1.6;
    margin-top: 0.4em;
}
